
body   {
    background-color: rgb(205, 205, 209);

}

 .navbar-expand-lg.navbar-light.bg-light     {
    background: whitesmoke !important;

}

a:link  {
    text-decoration: none;
    color: rgb(159, 159, 159);

}

a:visited   {
    color: rgb(159, 159, 159);

}

.nameheader     {
    margin: 0 50px 0 30px;

}

.container  {
    width: 760px;
    min-height: 100%;
    background-color: whitesmoke;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 10px;
    
}

footer      {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    background: rgb(205, 205, 209);
    font-size: 10px;
    padding: 14px;

}

/* to handle sticky footer*/
.container-inside   {
    padding: 20px;
    padding-bottom: 50px;
}

/* About Me */

.jumbotron  {
    height: 100px;
    margin: 0 10px -20px 10px;
    padding-top: 40px;
    background: whitesmoke;
}

#EB {
    border-radius: 10px;

}

p  {
    text-align: justify;

}




/* contact page */

.contactform    {
    padding: 30px 10px 30px 10px;

}


/* portfolio page */

.row    {
    padding: 30px;

}

h6  {
    height: 30px;
    background: whitesmoke;
    padding: 5px;

}



@media screen and (max-width: 640px) {


   

  

}